ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 99.4%;
  background-color: #256ae2;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #2F68CB;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 2px 8px 6px 6px;     /*ici liste dans dropdown*/
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: antiquewhite;
}

.dropdown-content a:hover {
  background-color: rgba(15, 0, 82, 0.849);
  color: whitesmoke;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbartitle-font{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 120%;
}

@media screen and (max-width:800px){
  .navbartitle-font{
    font-weight: normal;
    font-size: 80%;
  }
}